node_modules/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
coverage/
.vscode/
.idea/
*.swp
*.swo
*~
.env.local
.env.development
.env.production
dump.rdb
Notification_System_Development.postman_environment.json
Notification_System.postman_collection.json
Team_Member_3_Services.postman_collection.json
Team_Member_3.postman_environment.json
